In [7]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

**EJERCICIOS APPLY**

1. Las columnas `land_area`, `armed_forces_size`, `co2-emissions`, `gdp`, `population`, `urban_population`, `latitude`, `longitude`, `density`, `cpi` son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [10]:
df = pd.read_csv(r"G:\Mi unidad\FORMACIÓN\Data Analyst\modulo-3\Pair-mod3-Adriana-Patricia\File\world_data_full.csv", index_col=0)
df

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,"482,359,318,768",97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,"261,921,244,843",110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,"26,914,402,224",93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,"23,064,722,446",98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,1.34,"21,440,758,800",109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",-19.015438,29.154857

In [ ]:
df.info() #vemos tipos columnas

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density                               195 non-null    object
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    float64
 4   land_area                             194 non-null    object
 5   armed_forces_size                     171 non-null    object
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capital/major_city                    192 non-null    object
 9   co2-emissions                         188 non-null    object
 10  cpi                                   178 non-null    object
 11  cpi_change                            179 non-null    float64
 12  currency-code                         180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    float64
 15  gasoline_price                        175 non-null    float64
 16  gdp                                   193 non-null    object
 17  gross_primary_education_enrollment    188 non-null    float64
 18  gross_tertiary_education_enrollment   183 non-null    float64
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    float64
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    float64
 26  physicians_per_thousand               188 non-null    float64
 27  population                            194 non-null    object
 28  population_labor_force_participation  176 non-null    float64
 29  tax_revenue                           169 non-null    float64
 30  total_tax_rate                        183 non-null    float64
 31  unemployment_rate                     176 non-null    float64
 32  urban_population                      190 non-null    object
 33  latitude                              195 non-null    object
 34  longitude                             195 non-null    object
dtypes: float64(19), object(16)
memory usage: 54.8+ KB

In [ ]:
x= '652,230' #Ejemplo César (fila 1 de columna land_area)

In [ ]:
def cambiar (dato):                 # Definimos la función
    try:
        dato = dato.replace(',', '')
        return float(dato)
    except:
        return np.nan       # Para los nulos

In [ ]:
cambiar(x) # Probamos con el ejemplo

652230.0

In [ ]:
df['land_area'].apply(cambiar) # Aplicamos a toda la columna

0       652230.0
1        28748.0
2      2381741.0
3          468.0
4      1246700.0
         ...
190     912050.0
191     331210.0
192     527968.0
193     752618.0
194     390757.0
Name: land_area, Length: 195, dtype: float64

In [32]:
columnas = ['land_area', 'armed_forces_size', 'co2-emissions', 'gdp', 'population', 'urban_population', 'latitude', 'longitude', 'density', 'cpi'] # Lista columnas

for columna in columnas:                # Aplicamos la función a todas las columnas mencionadas con el bucle for
    df[columna] = df[columna].apply(cambiar)


df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density                               0 non-null      float64
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    float64
 4   land_area                             0 non-null      float64
 5   armed_forces_size                     0 non-null      float64
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capital/major_city                    192 non-null    object
 9   co2-emissions                         0 non-null      float64
 10  cpi                                   0 non-null      float64
 11  cpi_change                            179 non-null    float64
 12  currency-code                         180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    float64
 15  gasoline_price                        175 non-null    float64
 16  gdp                                   0 non-null      float64
 17  gross_primary_education_enrollment    188 non-null    float64
 18  gross_tertiary_education_enrollment   183 non-null    float64
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    float64
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    float64
 26  physicians_per_thousand               188 non-null    float64
 27  population                            0 non-null      float64
 28  population_labor_force_participation  176 non-null    float64
 29  tax_revenue                           169 non-null    float64
 30  total_tax_rate                        183 non-null    float64
 31  unemployment_rate                     176 non-null    float64
 32  urban_population                      0 non-null      float64
 33  latitude                              0 non-null      float64
 34  longitude                             0 non-null      float64
dtypes: float64(29), object(6)
memory usage: 54.8+ KB

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [35]:
# Definimos los continentes y los países en ellos
continentes = {
    'Asia': ["Philippines", 'Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'East Timor', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Africa': ["Tunisia", "Ivory Coast", 'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Cote d\'Ivoire', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe'],
    'Europe': ["Turkey", "Republic of Ireland", "Vatican City", 'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    "Central America":["Belize", "Saint Vincent and the Grenadines", "Saint Lucia", "Saint Kitts and Nevis", "Panama", "Nicaragua", "Mexico", "Jamaica", "Honduras", "Haiti", "Guatemala", "Grenada", "El Salvador", "Dominican Republic", "Dominica", "Cuba", "Antigua and Barbuda", "The Bahamas", "Barbados"," Belize", "Costa Rica",  ], 
    'North America': ['Canada', 'United States'],
    'South America': ["Trinidad and Tobago", 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ["Papua New Guinea", "Federated States of Micronesia", 'Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Nauru', 'New Zealand', 'Palau', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

In [ ]:
df['continentes'] = df['country'].map(continentes_dict)

In [ ]:
def pais_continente (pais):